<div class ="kuuhaku">
    <div class ="tophaikei">
    <div class="tophaikei2">
    このサイトは人気の漫画をランキングで知ることができます！
    
    <div class="tophaikei3"><br><%= link_to("一覧ページへ", mangas_path, {class: "itiranlink"}) %></div>
    </div> 
    </div>
</div>