// Place all the styles related to the mangas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.login{
    margin: auto;
    text-align: center;   
    width:300px;
    border: 1px solid #121212;
    padding:5%;
    margin-top: 2%;
    background-color: #e8e6e6;
} 

.field{
    margin-bottom: 2%;
}

.sinki{
    margin: auto;
    text-align: center;   
    width:500px;
    border: 1px solid #121212;
    padding:5%;
    margin-top: 2%;
    background-color: #e8e6e6; 
}